
th, td {
        font-size: 12px;
        border-collapse: collapse;
        border-width:3px;
    }

/* ordered and unordered list styles */
.reveal ul,
.reveal ol {
    font-size: 12px;
    color: black;
}

.book.font-size-2 .book-body .page-inner section {
  font-size: 12px;
}

code.r{
  font-size: 12px;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  font-size: 12px;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 2500px !important;
    margin: 0 !important;
    padding: 5px 0 5px !important;
}


/* Increase space to display line number in R chunks correctly*/
pre.numberSource code > span > a:first-child::before {
  left: -0.3em;
}

/* for multi cols
.cols {display: flex; } uncomment for flex column size
.cols {display: grid; grid-template-columns: 30% 50% 20%;} for fixed column size */

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000080;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em !important;

  color: #000080;
 }

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #000080;
  font-size: 12px !important;
}


a {
color: #000080;
}

dt {
  color:  #000080;
}

.book.font-family-0 {
  font-family: Georgia, serif;
}
.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* this is paragraph text */
.book .book-body .page-wrapper .page-inner section.normal p {

    font-size: 12px;
}




.book .book-body .page-wrapper .page-inner section.normal h1{
    font-size: 14px;
    margin-top: 12px }

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 12px
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size: 12px
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
    font-size: 12px
}

.book .book-body .page-wrapper .page-inner section.normal h5 {
    font-size: 12px
}

.book .book-summary nav ul {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 350px!important;
    color: #FFFFFF!important;
    background: #000080!important;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}
.book .book-summary ul.summary li.active>a {
  color: #ffffff;
}

.book .book-summary ul.summary li a {
  color: #FFFFFF;
}

/* this is the sidebar hover */
.book .book-summary ul.summary li a:hover {
  background-color: #ffffff;
  color: #000080;
}

body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
    text-size-adjust: 100%
}

.book .book-summary ul.summary li a,.book .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #FFFFFF;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    position: relative;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
}

/*
book.with-summary .book-header.fixed {
    left: 400px;
  }*/

/*
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left:400px
    }
}*/


/* this is the sidebar width and font family */
.book .book-summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8x;
  height: 100%;
  width: 250px;
  position:absolute;
  font-weight: bold;
  top:0;
  left:-250px;
  background-color: #000080;
  color: #FFFFFF;
}


.book.with-summary .book-header.fixed {
    left: 300px;
}

.book.with-summary .book-body {
    left: 300px;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}


.sourceCode {
  margin-bottom: 12px !important; /* adds same amount of margin as a <p> would */
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}


.book .book-summary ul.summary li.divider {
    height: 0px !important;
}
